<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td scope="row"><%= restaurant.name %></td>
        <td scope="row"><%= restaurant.address %></td>
        <td scope="row"><%= restaurant.phone_number %></td>
        <td scope="row"><%= restaurant.category %></td>
        <td scope="row"><%= link_to 'Show', restaurant %></td>
        <td scope="row"><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td scope="row"><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
